# Constrain to the lowest version for each range in pyproject.toml. This ensures
# that our code won't rely on features in newer versions of dependencies. These
# constraints won't affect installed versions by consumers.
httpx==0.24.0
pydantic==2.1.1
typing-extensions==4.8.0
