[project]
name = "inngest"
version = "0.3.8"
description = "Python SDK for Inngest"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Django",
    "Framework :: FastAPI",
    "Framework :: Flask",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
requires-python = ">=3.9"

dependencies = ["httpx>=0.24.0", "pydantic>=2.1.1", "typing-extensions>=4.8.0"]

[project.optional-dependencies]
extra = [
    "Django==4.2",
    "Flask==2.3.0",
    "build==1.0.3",
    "django-types==0.19.1",
    "fastapi==0.100.0",
    "mypy==1.8.0",
    "pytest==7.4.2",
    "pytest-django==4.7.0",
    "pytest-xdist[psutil]==3.3.1",
    "ruff==0.1.9",
    "toml==0.10.2",
    "tornado==6.3",
    "types-toml==0.10.8.7",
    "types-tornado==5.1.1",
    "uvicorn==0.23.2",
]

[project.urls]
"Homepage" = "https://github.com/inngest/inngest-py"
"Bug Tracker" = "https://github.com/inngest/inngest-py/issues"

[tool.black]
line-length = 80

[tool.isort]
line_length = 80
profile = "black"

[tool.mypy]
incremental = false
strict = true

[tool.pylint.'MESSAGES CONTROL']
disable = [
    'broad-exception-caught',
    'broad-exception-raised',
    'duplicate-code',
    'fixme',
    'invalid-envvar-value',
    'line-too-long',
    'missing-docstring',
    'too-few-public-methods',
    'too-many-arguments',
    'too-many-instance-attributes',
    'too-many-return-statements',
    'unused-argument',
]

[tool.pytest.ini_options]
filterwarnings = ['ignore::pytest.PytestAssertRewriteWarning']

[tool.ruff]
exclude = [".venv"]

# https://docs.astral.sh/ruff/rules
extend-select = [
    'ASYNC',
    'C90',
    'D',
    'ERA',
    'I',
    'N',
    'Q',
    'RUF',
    'S',
    'T',
    'UP',
]
extend-ignore = [
    'D200',
    'D202',
    'D203',
    'D205',
    'D212',
    'D400',
    'D415',

    # Can't use the "|" operator for unions until we drop support for Python 3.9
    'UP007',
]

line-length = 80
mccabe = { max-complexity = 16 }

[tool.ruff.extend-per-file-ignores]
"examples/**/*.py" = ['D', 'T20']
"inngest/**/*_test.py" = ['C901', 'D', 'N', 'S', 'T20']
"tests/**/*.py" = ['C901', 'D', 'N', 'S', 'T20']

[tool.ruff.lint]
# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]

[tool.setuptools.package-data]
# Makes py.typed appear when users install the inngest package.
inngest = ["py.typed"]
